<!DOCTYPE html>
{% load bootstrap %}
{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" a href="{% static 'style.css' %}">
    <link rel="stylesheet" a href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


    <title>Zaloguj się</title>
</head>
<body>
<h1>TO</h1>

<form method="post" action="{% url 'login' %}">
    <legend>Logowanie</legend>
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Zaloguj</button>
    </div>
</form>


       <p><a href="{% url 'password_reset' %}">Odzyskaj hasło</a></p>

</body>
</html>
