{% load static %}
{% load mathfilters %}

<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" a href="{% static 'style.css' %}">
</head>
<body>
<h1>Faktury:</h1>
{% if user.is_authenticated%}
     <p> Witaj {{user.get_username}} </p>
{% endif%}
<a href="{% url 'nowa_faktura' %}">Nowa faktura</a>
<p>{{ text }}</p>
<td>{{ kwota_brutto }}</td>
<table border="">
    <th bgcolor="green">Nazwa faktury</th>
    <th bgcolor="green">Numer Faktury</th>
    <th bgcolor="green">Miejsce</th>
    <th bgcolor="green">Data wystawienia</th>
    <th bgcolor="green">Kwota netto</th>
    <th bgcolor="green">Vat %</th>
    <th bgcolor="green">Kwota Vat</th>
    <th bgcolor="green">Kwota Brutto</th>
    <th bgcolor="green">Plik z fakturą</th>
    <th bgcolor="green">Opcje</th>
{% for i in faktura %}
<tr>
    <td bgcolor="aqua">{{ i.nazwa }}</td>
    <td bgcolor="aqua">{{ i.numer }}</td>
    <td bgcolor="aqua">{{ i.miejsce }}</td>
    <td bgcolor="aqua">{{ i.data_wystawienia }}</td>
    <td bgcolor="aqua">{{ i.kwota_netto }}zł</td>
    <td bgcolor="aqua">{{ i.vat|mul:100 |add:0 }}%</td>
    <td bgcolor="aqua">{{ i.vat|mul:i.kwota_netto }}zł</td>
    <td bgcolor="aqua">{{ i.vat|mul:i.kwota_netto |addition:i.kwota_netto}}zł</td>
    <td bgcolor="aqua">{{ i.plik }}</td>
    <td bgcolor="orange"><a href="{% url 'edycja_faktury' i.id %}">Edycja |</a><a href="{% url 'usuwanie_faktury' i.id %}"> Usuń</a> </td>
</tr>

{% endfor %}
<tr>
    <td bgcolor="yellow"></td>
    <td bgcolor="yellow"></td>
    <td bgcolor="yellow"></td>
    <td bgcolor="yellow"></td>
    <td bgcolor="yellow">{{ sumaN }}</td>
    <td bgcolor="yellow"></td>
    <td bgcolor="yellow"></td>
    <td bgcolor="yellow"></td>
    <td bgcolor="yellow"></td>
    <td bgcolor="yellow"></td>


</tr>
</table><br>

<button><a href="{% url 'logout' %}">Wyloguj się</a></button>


</body>
</html>
