{% load static %}
{% load mathfilters %}

<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" a href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" a href="{% static 'style.css' %}">
</head>
<body>

<div class="jumbotron">
  <h1 class="display-5">Witaj {{user.get_username}}</h1>
  <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'nowa_faktura' %}" role="button">Nowa faktura  <i class="fas fa-plus-circle"></i></a>
      <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Wyloguj się  <i class="fas fa-sign-out-alt"></i></a>
      <a class="btn btn-primary btn-lg" href="{% url 'nowe_miejsce' %}" role="button">Dodaj nowe miejsce <i class="fas fa-plus-circle"></i></a>


  </p>
</div>

<div class="jumbotron" >

    <h1 class="display-5">Faktury użytkownika {{ user.get_username }} ze wszystkich miejsc </h1>


    <table border="">

        <td bgcolor="green">Nazwa faktury</td>
        <td bgcolor="green">Numer Faktury</td>
        <td bgcolor="green">Miejsce</td>
        <td bgcolor="green">Data wystawienia</td>
        <td bgcolor="green">Kwota netto</td>
        <td bgcolor="green">Vat %</td>
        <td bgcolor="green">Kwota Vat</td>
        <td bgcolor="green">Kwota Brutto</td>
        <td bgcolor="green">Plik z fakturą</td>
        <td bgcolor="green">Opcje</td>

{% for i in faktura %}
<tr>
    <td class="table-primary">{{ i.nazwa }}</td>
    <td class="table-primary">{{ i.numer }}</td>
    <td class="table-primary">{{ i.miejsce }}</td>
    <td class="table-primary">{{ i.data_wystawienia }}</td>
    <td class="table-primary">{{ i.kwota_netto }}zł</td>
    <td class="table-primary">{{ i.vat|mul:100 |add:0 }}%</td>
    <td class="table-primary">{{ i.vat|mul:i.kwota_netto }}zł</td>
    <td class="table-primary">{{ i.vat|mul:i.kwota_netto |addition:i.kwota_netto}}zł</td>
    <td class="table-primary"><a href="{{ i.plik.url }}">{{ i.plik }}</a></td>
    <td class="table-warning"><a href="{% url 'edycja_faktury' i.pk %}"><i class="fas fa-edit"></i></a><a href="{% url 'usuwanie_faktury' i.pk %}"><i class="fas fa-trash-alt"></i></a> </td>

</tr>

{% endfor %}
<tr>
    <td class="table-secondary"></td>
    <td class="table-secondary"></td>
    <td class="table-secondary"></td>
    <td class="table-secondary"></td>
    <td bgcolor="yellow">{{ sumaN }}</td>
    <td class="table-secondary"></td>
    <td class="table-secondary"></td>
    <td class="table-secondary"></td>
    <td class="table-secondary"></td>
    <td class="table-secondary"></td>


</tr>
</table><br>

</div>




</body>
</html>
