<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" a href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">



</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
       <p>Numer:{{ form.numer }}</p>
       <p>Nazwa:{{ form.nazwa }}</p>
       <p>Data wystawienia:{{ form.data_wystawienia }}</p>
       <p>Kwota netto:{{ form.kwota_netto }}</p>
       <p>VAT:{{ form.vat }}</p>
       <p>Miejsce:{{ form.miejsce }}</p>
       <p>Plik faktury:{{ form.plik }}</p>
        <button type="submit">Dodaj</button>
    </form>
</body>
</html>
