<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" a href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">



</head>
<body>
    <h1>Czy na pewno chcesz usunąć {{ faktura.nazwa }}?</h1>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Tak</button>
        <a href="http://127.0.0.1:8000/faktury"><button type="button">Nie</button></a>
    </form>
</body>
</html>
